<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>FirebaseAppDelegateProxyEnabled</key>
        <false/>
        <key>CFBundleDevelopmentRegion</key>
        <string>$(DEVELOPMENT_LANGUAGE)</string>
        <key>CFBundleDisplayName</key>
        <string>2i2i</string>
        <key>CFBundleExecutable</key>
        <string>$(EXECUTABLE_NAME)</string>
        <key>CFBundleIdentifier</key>
        <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>app.2i2i</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleShortVersionString</key>
        <string>$(FLUTTER_BUILD_NAME)</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLName</key>
                <array>
                    <string>i2i2.page.link</string>
                    <string>2i2i.page.link</string>
                    <string>test.2i2i.app</string>
                </array>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>https</string>
                    <string>${FIREBASE_PROJECT_ID}</string>
                </array>
            </dict>
        </array>
        <key>CFBundleVersion</key>
        <string>61</string>

        <key>LSRequiresIPhoneOS</key>
        <true/>
        <key>NSCameraUsageDescription</key>
        <string>${PRODUCT_NAME} requires access to the camera for a profile pic and for making live video calls.</string>
        <key>NSMicrophoneUsageDescription</key>
        <string>${PRODUCT_NAME} requires access to the microphone for making live audio calls.</string>
        <key>NSPhotoLibraryUsageDescription</key>
        <string>This app requires access to the photo library for a profile pic.</string>
        <key>UIBackgroundModes</key>
        <array>
            <string>fetch</string>
            <string>remote-notification</string>
            <string>voip</string>
        </array>
        <key>UILaunchStoryboardName</key>
        <string>LaunchScreen</string>
        <key>UIMainStoryboardFile</key>
        <string>Main</string>
        <key>UISupportedInterfaceOrientations</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
            <string>UIInterfaceOrientationLandscapeLeft</string>
            <string>UIInterfaceOrientationLandscapeRight</string>
        </array>
        <key>UISupportedInterfaceOrientations~ipad</key>
        <array>
            <string>UIInterfaceOrientationPortrait</string>
            <string>UIInterfaceOrientationPortraitUpsideDown</string>
            <string>UIInterfaceOrientationLandscapeLeft</string>
            <string>UIInterfaceOrientationLandscapeRight</string>
        </array>
        <key>UIViewControllerBasedStatusBarAppearance</key>
        <false/>
        <key>compileBitcode</key>
        <false/>
        <key>CADisableMinimumFrameDurationOnPhone</key>
        <true/>
        <key>FirebaseDynamicLinksCustomDomains</key>
        <array>
          <string>https://about.2i2i.app/user</string>
        </array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
</dict>
</plist>
