<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>453884442411-a1veje6lhghiv9jov29eeqag6kg4mkgo.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.453884442411-a1veje6lhghiv9jov29eeqag6kg4mkgo</string>
    <key>ANDROID_CLIENT_ID</key>
    <string>453884442411-178g3u7lhokqejuqf3fab67o0bqdpq0q.apps.googleusercontent.com</string>
    <key>API_KEY</key>
    <string>AIzaSyCAQ8i_VByWSznD_7FSLkbu37CjetiGJrI</string>
    <key>GCM_SENDER_ID</key>
    <string>453884442411</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>app.2i2i</string>
    <key>PROJECT_ID</key>
    <string>i2i-test</string>
    <key>STORAGE_BUCKET</key>
    <string>i2i-test.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:453884442411:ios:09b63de87c8485b098776e</string>
</dict>
</plist>
